

.listbox-area {
  font-size: 50px;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: #eee;
}

[role="listbox"] {
  margin: 1em 0 0;
  padding: 0;
  min-height: 18em;
  border: 1px solid #aaa;
  background: white;
}

[role="listbox"]#ss_elem_list {
  position: relative;
  max-height: 18em;
  overflow-y: auto;
}

[role="listbox"] + *,
.listbox-label + * {
  margin-top: 1em;
}

[role="group"] {
  margin: 0;
  padding: 0;
}

[role="group"] > [role="presentation"] {
  display: block;
  margin: 0;
  padding: 0 0.5em;
  font-weight: bold;
  line-height: 2;
  background-color: #ccc;
}

[role="option"] {
  position: relative;
  display: block;
  padding: 0 1em 0 1.5em;
  line-height: 1.8em;
}

[role="option"].focused {
  background: #bde4ff;
}

[role="option"][aria-selected="true"]::before {
  position: absolute;
  left: 0.5em;
  content: "✓";
}

button[aria-haspopup="listbox"] {
  position: relative;
  padding: 5px 10px;
  width: 150px;
  border-radius: 0;
  text-align: left;
}

button[aria-haspopup="listbox"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: currentcolor;
  border-bottom: 0;
  content: "";
}

button[aria-haspopup="listbox"][aria-expanded="true"]::after {
  position: absolute;
  right: 5px;
  top: 10px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top: 0;
  border-bottom-color: currentcolor;
  content: "";
}

button[aria-haspopup="listbox"] + [role="listbox"] {
  position: absolute;
  margin: 0;
  width: 9.5em;
  max-height: 10em;
  border-top: 0;
  overflow-y: auto;
}

[role="toolbar"] {
  display: flex;
}

[role="toolbar"] > * {
  border: 1px solid #aaa;
  background: #ccc;
}

[role="toolbar"] > [aria-disabled="false"]:focus {
  background-color: #eee;
}

button {
  font-size: inherit;
}

button[aria-disabled="true"] {
  opacity: 0.5;
}

.move-right-btn::after {
  content: " →";
}

.move-left-btn::before {
  content: "← ";
}

.annotate {
  color: #366ed4;
  font-style: italic;
}

.hidden {
  display: none;
}

.offscreen {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  font-size: 14px;
  white-space: nowrap;
}

input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: content-box;
  font-size: 25px;
}

input[type=submit] {
  width: 25%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
}



input[type=submit]:hover {
  background-color: #45a049;
}



div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#example {
  background-color:white;
  font-family: Arial;
  font-size: 50px;
  color: red;
}

#input {
  background-color:white;
  font-family: Arial;
  font-size: 25px;
}
#input2 {
  background-color:white;
  font-family: Arial;
  font-size: 50px;
  height: 50px;
  color: white;
  padding-left: 100px;
  background-color: #990022;
  margin-left: -100px;
  width: 100%;

}

#input3 {
  background-color:white;
  font-family: Arial;
  font-size: 50px;
  color: #990022;
  height: 300px;

}

.center {
   padding: 140px 0;
  background-color:white;

  text-align: center;
}

.btn{
  width: 25%;
  border-radius: 4px;
  background-color: #990022;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  border: 5px solid black;
}

.btn2{
  width: 50%;
  border-radius: 4px;
  background-color: #990022;
  color: white;
  padding: 28px 25px;
  margin: 15px 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 50px;
  border: 5px solid black;
}

 input.largerCheckbox {
            width: 40px;
            height: 40px;
        }
 #box{
  background-color: white;
      width: 100%;
      height: 300px;
      font-weight: bold;
 }
