<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}" />
    <meta charset="UTF-8">
    <title>SPARQL Tests</title>
</head>
<body>
<div id="box">
    <div id="input3">
    <td valign="top" color=red>DBIS</td>

    <img style="position:absolute; right:0px; top:-200px; width:800px; height:800px; border:none;"src="{{ url_for('static', filename='logo-uni-ulm.svg') }}"/>
</div>



<div id="input2">
   
</div>
    <div class="center">
    <a href='triples' class='btn2'>
  Go to queries for triples
</a>
    <a href='quads' class='btn2'>
  Go to queries for quads
        </a>
</div>
</body>
</html>
